
 table
{
	border-collapse: collapse;
	width: 100%;
	color: tomato;
	font-family: monospace;
	font-size: 25px;
	text-align: left
}
th{
	background-color: tomato;
	color: white;
}
tr:nth-child(even){
	background-color: #f2f2f2;
}